.App {
  max-width: 600px;
  margin: 30px auto;
  background-color: white;
}
.App footer {
  background: linear-gradient(
    98.3deg,
    rgb(0, 0, 0, 0.1) 10.6%,
    rgb(255, 0, 0, 0.1) 97.7%
  );
  font-size: 11px;
  margin: 10px 0;
}
.App footer .link {
  text-decoration: none;
}
